.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.ct-div-block,
			.oxy-post-content,
			.ct-text-block,
			.ct-headline,
			.oxy-rich-text,
			.ct-link-text { max-width: 100%; }
			img { flex-shrink: 0; }
			body * { min-height: 1px; }
		}            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
alignment: center;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        .oxy-pro-menu {
menu_dropdown_animation:fade-up;
}
.oxy-pro-menu .oxy-pro-menu-list .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-list > .menu-item{
margin-top:px;
margin-left:px;
margin-right:px;
margin-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
margin-top:px;
margin-left:px;
margin-right:px;
margin-bottom:px;
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container > div:first-child, .oxy-pro-menu .oxy-pro-menu-open-container > div:first-child{
oxy-pro-menu_slug_oxypromenuoffcanvascontaineroxypromenulistmenuitemoxypromenuopencontaineroxypromenulistmenuitem_min_width:px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container{
oxy-pro-menu_slug_oxypromenuoffcanvascontainer_width:px;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-color:;
background-image:url();
overlay-color:;
background-size:;
background-repeat:;
background-attachment:;
background-blend-mode:;
background-size-width:px;
background-size-height:px;
background-position:px px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1300px;
}
body {font-family: 'Bandeins Sans';}body {line-height: 1.75;font-size: 1em;font-weight: 400;color: #ffffff;}.oxy-nav-menu-hamburger-line {background-color: #ffffff;}h1, h2, h3, h4, h5, h6 {font-family: 'Bandeins Sans';font-size: 4rem;font-weight: 500;line-height: 1;}h2, h3, h4, h5, h6{font-size: 3.1rem;font-weight: 300;line-height: 1;color: #ffffff;}h3, h4, h5, h6{font-size: 2rem;font-weight: 300;line-height: 1;color: #ffffff;}h4, h5, h6{font-size: 1.5rem;font-weight: 300;line-height: 1;color: #ffffff;}h5, h6{font-size: 1em;font-weight: 400;line-height: 1;}h6{font-size: 16px;font-weight: 400;line-height: 1;}a {color: #e22d8b;text-decoration: none;}a:hover {text-decoration: none;}.ct-link-text {color: #e22d8b;text-decoration: ;}.ct-link-text:hover {color: #6dcef5;text-decoration: underline;}.ct-link {text-decoration: ;}.ct-link-button {border-radius: px;}.ct-section-inner-wrap {
padding-top: 3em;
padding-right: 2em;
padding-bottom: 3em;
padding-left: 2em;
}.ct-new-columns > .ct-div-block {
padding-top: 1.1em;
padding-right: 1.1em;
padding-bottom: 1.1em;
padding-left: 1.1em;
}.oxy-header-container {
padding-right: 2em;
padding-left: 2em;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.oxel_image_comparison__after {
background-image:url(../../../../../elements.oxy.host/wp-content/uploads/sites/52/2020/09/pexels-steve-johnson-1150626.jpg);background-size: 1640px auto; width:100%;
 height:100%;
 background-position:0% 50%;
}
.oxel_image_comparison {
 width:100%;
 position:relative;
 text-align:center;
 overflow:hidden;
 height:500px;
}
.oxel_image_comparison:not(.ct-section):not(.oxy-easy-posts),
.oxel_image_comparison.oxy-easy-posts .oxy-posts,
.oxel_image_comparison.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:stretch;
justify-content:center;
}
.oxel_image_comparison__before {
background-image:url(../../../../../elements.oxy.host/wp-content/uploads/sites/52/2020/09/pexels-steve-johnson-1150626-bw.jpg);background-size: 1640px auto; width:100%;
 height:100%;
 position:relative;
 overflow:hidden;
 background-position:0% 50%;
}
.oxel_image_comparison__icon {
background-color: rgba(249,249,250,0.5);
border: 1px solid rgba(249,249,250,0.5);
padding: 10px;color: #374047;}.oxel_image_comparison__icon 
>svg {width: 42px;height: 42px;}.oxel_image_comparison__icon {
 icon-padding:10px;
 position:absolute;
 z-index:2147483640;
 height:100%;
 background-color:rgba(0,0,0,0);
 border-top-style:none;
 border-right-style:none;
 border-bottom-style:none;
 border-left-style:none;
}
.oxel_image_comparison__icon:not(.ct-section):not(.oxy-easy-posts),
.oxel_image_comparison__icon.oxy-easy-posts .oxy-posts,
.oxel_image_comparison__icon.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
justify-content:center;
}
.oxel_image_comparison__label_before {
background-image:linear-gradient(#f9f9fa, #f9f9fa); position:absolute;
 left:32px;
 top:32px;
 background-color:rgba(249,249,250,0.5);
 padding-top:8px;
 padding-left:8px;
 padding-right:8px;
 padding-bottom:8px;
 font-size:14px;
 letter-spacing:4px;
 text-transform:uppercase;
 z-index:5;
}
.oxel_image_comparison__label_after {
 position:absolute;
 top:32px;
 background-color:#f9f9fa;
 padding-top:8px;
 padding-left:8px;
 padding-right:8px;
 padding-bottom:8px;
 font-size:14px;
 letter-spacing:4px;
 text-transform:uppercase;
 right:32px;
 z-index:5;
}
.oxel_horizontal_divider {
 width:100%;
}
.oxel_horizontal_divider__line {
 float:none;
 margin-top:10px;
 margin-bottom:10px;
}
.oxel_horizontal_divider__icon {
color: #98a1a8;}.oxel_horizontal_divider__icon 
>svg {width: 16px;height: 16px;}.oxel_horizontal_divider__icon {
flex-shrink: 0;
}
.oxel_horizontal_divider__icon:not(.ct-section):not(.oxy-easy-posts),
.oxel_horizontal_divider__icon.oxy-easy-posts .oxy-posts,
.oxel_horizontal_divider__icon.ct-section .ct-section-inner-wrap{
display:flex;
}
.oxel_iconlist {
}
.oxel_iconlist__row {
 padding-top:8px;
 padding-left:8px;
 padding-right:8px;
 padding-bottom:8px;
 width:100%;
 margin-top:0px;
}
.oxel_iconlist__row:not(.ct-section):not(.oxy-easy-posts),
.oxel_iconlist__row.oxy-easy-posts .oxy-posts,
.oxel_iconlist__row.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
}
.oxel_iconlist__row__icon {
color: #7f8b93;}.oxel_iconlist__row__icon 
>svg {width: 18px;height: 18px;}.oxel_iconlist__row__icon {
 margin-left:32px;
 margin-right:32px;
}
.oxel_iconlist__row__label {
}
.oxel_iconlist__row--dark {
 background-color:#eceeef;
}
.oxel_back_to_top_container:hover{
transform:scale(1.1,1.1) translateY(-3px); background-color:rgba(207,211,215,0.25);
}
.oxel_back_to_top_container {
 width:42px;
 height:42px;
 position:fixed;
 z-index:1500;
 right:32px;
 bottom:32px;
 text-align:center;
 overflow:hidden;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
 border-radius:50%;
 box-shadow:0px 4px 17px -10px #1e1e1e;
}
.oxel_back_to_top_container:not(.ct-section):not(.oxy-easy-posts),
.oxel_back_to_top_container.oxy-easy-posts .oxy-posts,
.oxel_back_to_top_container.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.oxel_back_to_top_icon {
color: #e22d8b;}.oxel_back_to_top_icon 
>svg {width: 40px;height: 40px;}.oxel_back_to_top_icon {
}
.oxel_icon_button__container:hover{
 border-bottom-width:3px;
 border-bottom-style:solid;
 border-bottom-color:#650084;
}
.oxel_icon_button__container {
 background-color:rgba(236,238,239,0);
 padding-top:8px;
 padding-left:16px;
 padding-right:16px;
 padding-bottom:8px;
 transition-duration:0.3s;
 border-bottom-width:3px;
 border-bottom-color:#ffa7ff;
 border-bottom-style:solid;
 margin-left:12px;
 text-align:center;
}
.oxel_icon_button__container:not(.ct-section):not(.oxy-easy-posts),
.oxel_icon_button__container.oxy-easy-posts .oxy-posts,
.oxel_icon_button__container.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
justify-content:center;
}
.oxel_icon_button_text {
 font-family:'Bandeins Sans';
 font-size:18px;
 color:#ffffff;
}
.oxel_icon_button_icon {
background-color: rgba(255,255,255,0);
border: 1px solid rgba(255,255,255,0);
padding: 10px;color: #ffffff;}.oxel_icon_button_icon 
>svg {width: 18px;height: 18px;}.oxel_icon_button_icon {
 margin-right:8px;
 icon-padding:10px;
 position:absolute;
 right:2%;
}
.oxel_number_counter {
}
.oxel_number_counter__number {
 font-family:'Bandeins Sans';
 aos-enable:false;
 color:#ffffff;
}
.oxel_number_counter__label {
 font-family:'Bandeins Sans';
 font-size:1.5rem;
 color:#cfd3d7;
}
.atomic-logo:hover{
 opacity:1;
}
.atomic-logo {
 opacity:0.8;
 transition-duration:0.5s;
 transition-timing-function:ease;
 transition-property:all;
}
.atomic-header-4-link:hover{
 background-color:rgba(255,255,255,0.1);
 color:#ffffff;
}
.atomic-header-4-link {
 padding-top:18px;
 padding-bottom:18px;
 padding-left:18px;
 padding-right:18px;
 color:rgba(255,255,255,0.7);
 font-weight:400;
 font-size:15px;
 letter-spacing:1px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
.oxel_floating_icon_menu {
 right:32px;
 bottom:32px;
 text-align:right;
 z-index:9999;
pointer-events: none;
}
.oxel_floating_icon_menu:not(.ct-section):not(.oxy-easy-posts),
.oxel_floating_icon_menu.oxy-easy-posts .oxy-posts,
.oxel_floating_icon_menu.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row-reverse;
align-items:flex-start;
}
.oxel_floating_icon_menu__main_icon:hover{
background-color: #606e79;
border: 1px solid #606e79;
padding: ;}.oxel_floating_icon_menu__main_icon:hover{
}
.oxel_floating_icon_menu__main_icon {
background-color: #374047;
border: 1px solid #374047;
padding: 16px;color: #f9f9fa;}.oxel_floating_icon_menu__main_icon 
>svg {width: 24px;height: 24px;}.oxel_floating_icon_menu__main_icon {
 icon-padding:16px;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
cursor: pointer; pointer-events: all;
}
.oxel_floating_icon_menu__row {
 margin-bottom:8px;
 margin-top:8px;
}
.oxel_floating_icon_menu__row:not(.ct-section):not(.oxy-easy-posts),
.oxel_floating_icon_menu__row.oxy-easy-posts .oxy-posts,
.oxel_floating_icon_menu__row.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
}
.floating_icon_menu__hidden_icon:hover{
background-color: #606e79;
border: 1px solid #606e79;
padding: ;}.floating_icon_menu__hidden_icon:hover{
}
.floating_icon_menu__hidden_icon {
background-color: #374047;
border: 1px solid #374047;
padding: 16px;color: #f9f9fa;}.floating_icon_menu__hidden_icon 
>svg {width: 18px;height: 18px;}.floating_icon_menu__hidden_icon {
 icon-padding:16px;
 margin-right:3px;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
}
.oxel_floating_icon_menu__label {
 margin-right:16px;
 font-size:12px;
 text-transform:uppercase;
 letter-spacing:2px;
 font-weight:600;
 background-color:#eceeef;
 padding-top:2px;
 padding-bottom:2px;
 padding-left:4px;
 padding-right:4px;
 color:#374047;
}
.oxel_floating_icon_menu__hidden_links {
transform:translate(100px); transition-duration:0.3s;
 transition-timing-function:ease-in-out;
 opacity:0;
 text-align:right;
}
.oxel_floating_icon_menu__hidden_links:not(.ct-section):not(.oxy-easy-posts),
.oxel_floating_icon_menu__hidden_links.oxy-easy-posts .oxy-posts,
.oxel_floating_icon_menu__hidden_links.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:flex-end;
}
.atomic-subheading {
 font-family:'Bandeins Sans';
 line-height:1.6;
 max-width:480px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; color:#ffffff;
}
@media (max-width: 767px) {
.atomic-subheading {
 font-size:20px;
}
}

@media (max-width: 479px) {
.atomic-subheading {
 font-size:18px;
}
}

.atomic-content-4-text {
 font-family:'Bandeins Sans';
 text-align:left;
 line-height:1.6;
 margin-bottom:0%;
 margin-left:0px;
 margin-right:0px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; margin-top:0px;
}
.oxel_circular_counter {
 height:200px;
 border-radius:50%;
 padding-top:8px;
 padding-left:8px;
 padding-right:8px;
 padding-bottom:8px;
 color:#00fff2;
 width:200px;
}
.oxel_circular_counter__inner {
 width:100%;
 height:100%;
 border-radius:50%;
 text-align:center;
 background-color:rgba(249,249,250,0);
}
.oxel_circular_counter__inner:not(.ct-section):not(.oxy-easy-posts),
.oxel_circular_counter__inner.oxy-easy-posts .oxy-posts,
.oxel_circular_counter__inner.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
justify-content:center;
}
.oxel_circular_counter__number {
 font-size:75px;
 font-weight:500;
 color:#ffffff;
}
.oxel_circular_counter__unit {
 color:#ffffff;
 font-weight:500;
 font-size:75px;
}
.oxel_scrollingImage__container:hover{
 background-position:50% 100%;
}
.oxel_scrollingImage__container {
background-size: cover; height:400px;
 background-repeat:no-repeat;
 transition-duration:5s;
 transition-timing-function:ease-in-out;
 transition-property:background-position;
 text-align:center;
 width:600px;
 max-width:100%;
 overflow:hidden;
 background-position:50% 0px;
}
.oxel_scrollingImage__container:not(.ct-section):not(.oxy-easy-posts),
.oxel_scrollingImage__container.oxy-easy-posts .oxy-posts,
.oxel_scrollingImage__container.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
@media (max-width: 767px) {
.oxel_scrollingImage__container {
 width:100%;
}
}

.oxel_scrollingImage__container__icon {
background-color: rgba(0,0,0,0.17);
border: 1px solid rgba(0,0,0,0.17);
padding: 16px;color: #f9f9fa;}.oxel_scrollingImage__container__icon 
>svg {width: 55px;height: 55px;}.oxel_scrollingImage__container__icon {
 transition-duration:2.5s;
 icon-padding:16px;
}
.oxel_dropdown_button__submenu {
 position:absolute;
 top:100%;
 left:0px;
 min-width:100%;
 padding-top:4px;
 width:200px;
 z-index:10;
}
.oxel_dropdown_button {
 background-color:#374047;
 position:relative;
}
.oxel_dropdown_button:not(.ct-section):not(.oxy-easy-posts),
.oxel_dropdown_button.oxy-easy-posts .oxy-posts,
.oxel_dropdown_button.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
}
.oxel_dropdown_button__label {
 color:#f9f9fa;
 margin-right:8px;
}
.oxel_dropdown_button__icon {
color: #f9f9fa;}.oxel_dropdown_button__icon 
>svg {width: 16px;height: 16px;}.oxel_dropdown_button__icon {
}
.oxel_dropdown_button__submenu__button:hover{
 background-color:#dee1e3;
}
.oxel_dropdown_button__submenu__button {
 padding-top:8px;
 padding-bottom:8px;
 padding-left:16px;
 padding-right:16px;
 text-align:left;
 background-color:#eceeef;
 min-width:100%;
 color:#374047;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
}
.oxel_dropdown_button__submenu__button:not(.ct-section):not(.oxy-easy-posts),
.oxel_dropdown_button__submenu__button.oxy-easy-posts .oxy-posts,
.oxel_dropdown_button__submenu__button.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:flex-start;
}
.oxel_dropdown_button__submenu__button__label {
}
.oxel_dropdown_button__submenu--hidden {
 opacity:0;
pointer-events: none;
}
.oxel_dropdown_button__trigger {
 padding-top:8px;
 padding-bottom:8px;
 padding-left:16px;
 padding-right:6px;
cursor: pointer;
}
.oxel_dropdown_button__trigger:not(.ct-section):not(.oxy-easy-posts),
.oxel_dropdown_button__trigger.oxy-easy-posts .oxy-posts,
.oxel_dropdown_button__trigger.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
}
.atomic-footer-5-link:hover{
 color:#e22d8b;
 font-size:16px;
 text-decoration:none;
}
.atomic-footer-5-link:before{
  content:"";
}
.atomic-footer-5-link {
 font-size:14px;
 font-weight:400;
 letter-spacing:1px;
 padding-top:10px;
 padding-bottom:10px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; transition-duration:0.5s;
 transition-timing-function:ease;
 transition-property:all;
 text-transform:uppercase;
 color:#cfd3d7;
}
@media (max-width: 1300px) {
.atomic-footer-5-link:hover{
 color:#e22d8b;
}
}

@media (max-width: 991px) {
.atomic-footer-5-link:hover{
}
}

@media (max-width: 767px) {
.atomic-footer-5-link:hover{
}
}

@media (max-width: 479px) {
.atomic-footer-5-link:hover{
}
}

.atomic-footer-5-column {
 text-align:left;
 width:33.33%;
}
.atomic-footer-5-column:not(.ct-section):not(.oxy-easy-posts),
.atomic-footer-5-column.oxy-easy-posts .oxy-posts,
.atomic-footer-5-column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
}
@media (max-width: 1300px) {
.atomic-footer-5-column {
}
.atomic-footer-5-column:not(.ct-section):not(.oxy-easy-posts),
.atomic-footer-5-column.oxy-easy-posts .oxy-posts,
.atomic-footer-5-column.ct-section .ct-section-inner-wrap{
display:flex;
}
}

@media (max-width: 991px) {
.atomic-footer-5-column {
 margin-right:0px;
 width:33%;
}
}

@media (max-width: 767px) {
.atomic-footer-5-column {
}
.atomic-footer-5-column:not(.ct-section):not(.oxy-easy-posts),
.atomic-footer-5-column.oxy-easy-posts .oxy-posts,
.atomic-footer-5-column.ct-section .ct-section-inner-wrap{
display:flex;
align-items:flex-end;
}
}

@media (max-width: 479px) {
.atomic-footer-5-column {
 text-align:right;
}
.atomic-footer-5-column:not(.ct-section):not(.oxy-easy-posts),
.atomic-footer-5-column.oxy-easy-posts .oxy-posts,
.atomic-footer-5-column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:flex-end;
}
}

.atomic-footer-5-title {
 font-size:20px;
 font-weight:400;
 color:#ffffff;
 line-height:1.1;
 letter-spacing:0.1em;
 margin-bottom:20px;
}
.oxel_accordion {
 border-top-color:#adb4b9;
 border-right-color:#adb4b9;
 border-bottom-color:#adb4b9;
 border-left-color:#adb4b9;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-left-width:1px;
 border-top-style:none;
 border-right-style:none;
 border-bottom-style:none;
 border-left-style:none;
 width:90%;
}
.oxel_accordion:not(.ct-section):not(.oxy-easy-posts),
.oxel_accordion.oxy-easy-posts .oxy-posts,
.oxel_accordion.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
justify-content:center;
}
@media (max-width: 767px) {
.oxel_accordion {
 text-align:center;
}
.oxel_accordion:not(.ct-section):not(.oxy-easy-posts),
.oxel_accordion.oxy-easy-posts .oxy-posts,
.oxel_accordion.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
}
}

.oxel_accordion__row {
 width:100%;
 padding-top:8px;
 padding-left:8px;
 padding-right:8px;
 padding-bottom:8px;
 text-align:justify;
 border-bottom-color:#eceeef;
 border-bottom-width:1px;
 border-bottom-style:solid;
 border-top-style:none;
 background-color:#f9f9fa;
 border-right-style:none;
 border-left-style:none;
cursor: pointer;
}
.oxel_accordion__row:not(.ct-section):not(.oxy-easy-posts),
.oxel_accordion__row.oxy-easy-posts .oxy-posts,
.oxel_accordion__row.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
justify-content:space-between;
}
.oxel_accordion__icon:hover{
color: #e22d8b;}.oxel_accordion__icon:hover{
}
.oxel_accordion__icon {
color: #ffffff;}.oxel_accordion__icon 
>svg {width: 18px;height: 18px;}.oxel_accordion__icon {
 margin-right:8px;
 transition-duration:0.3s;
}
.oxel_accordion__row_left {
}
.oxel_accordion__row_left:not(.ct-section):not(.oxy-easy-posts),
.oxel_accordion__row_left.oxy-easy-posts .oxy-posts,
.oxel_accordion__row_left.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
}
.oxel_accordion__content {
 width:100%;
 padding-top:8px;
 padding-left:8px;
 padding-right:8px;
 padding-bottom:8px;
 border-bottom-color:#98a1a8;
 border-bottom-width:2px;
 border-bottom-style:none;
 overflow:hidden;
 opacity:1;
 transition-duration:3s;
 border-top-style:none;
 border-right-style:none;
 border-left-style:none;
 transition-property:max-height;
 text-align:left;
 max-height:3000px;
 margin-top:0px;
}
.oxel_accordion__content:not(.ct-section):not(.oxy-easy-posts),
.oxel_accordion__content.oxy-easy-posts .oxy-posts,
.oxel_accordion__content.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:flex-start;
}
.oxel_accordion__content__hidden {
 max-height:0px;
 padding-left:8px;
 padding-right:8px;
 padding-top:0px;
 z-index:-1;
 padding-bottom:0px;
 transition-duration:0s;
}
.oxel_accordion__content__hidden:not(.ct-section):not(.oxy-easy-posts),
.oxel_accordion__content__hidden.oxy-easy-posts .oxy-posts,
.oxel_accordion__content__hidden.ct-section .ct-section-inner-wrap{
display:flex;
}
.oxel_accordion__row__label:hover{
 color:#e22d8b;
}
.oxel_accordion__row__label {
 font-weight:500;
 color:#ffffff;
 text-align:left;
 font-size:21px;
}
.proteus-logo:hover{
 opacity:1;
}
.proteus-logo {
 opacity:0.7;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
}
@media (max-width: 767px) {
.proteus-logo {
 margin-top:12px;
 margin-bottom:12px;
}
}

.proteus-green-button-small:hover{
 color:#fff;
 background-color:#41c3e5;
}
.proteus-green-button-small {
 font-family:'Bandeins Sans';
 font-size:16px;
 color:#ffffff;
 font-weight:900;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; background-color:#74d8c2;
 padding-top:6px;
 padding-bottom:6px;
 padding-left:30px;
 padding-right:30px;
 border-radius:1000px;
 line-height:1.2;
 text-align:center;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
}
.oxel_megamenu_parent:hover{
 background-color:#cfd3d7;
}
.oxel_megamenu_parent {
 padding-top:8px;
 padding-bottom:8px;
 padding-left:32px;
 padding-right:32px;
 position:relative;
 background-color:#f9f9fa;
 transition-duration:0.3s;
}
.oxel_megamenu_parent__title {
 color:#374047;
}
.oxel_megamenu__wrapper {
transform:; padding-top:32px;
 padding-left:0px;
 padding-right:0px;
 padding-bottom:0px;
 opacity:1;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
 position:relative;
 width:100%;
 z-index:1999;
}
.oxel_megamenu__wrapper:not(.ct-section):not(.oxy-easy-posts),
.oxel_megamenu__wrapper.oxy-easy-posts .oxy-posts,
.oxel_megamenu__wrapper.ct-section .ct-section-inner-wrap{
flex-direction:unset;
}
.oxel_megamenu__wrapper--hidden {
transform:translateY(64px); opacity:0;
pointer-events: none;
}
.oxel_megamenu__close-icon {
color: #333333;}.oxel_megamenu__close-icon 
>svg {width: 32px;height: 32px;}.oxel_megamenu__close-icon {
 position:absolute;
 top:48px;
 right:16px;
}
.oxel_megamenu__close-icon:not(.ct-section):not(.oxy-easy-posts),
.oxel_megamenu__close-icon.oxy-easy-posts .oxy-posts,
.oxel_megamenu__close-icon.ct-section .ct-section-inner-wrap{
display:none;
flex-direction:unset;
}
@media (max-width: 991px) {
.oxel_megamenu__close-icon {
}
.oxel_megamenu__close-icon:not(.ct-section):not(.oxy-easy-posts),
.oxel_megamenu__close-icon.oxy-easy-posts .oxy-posts,
.oxel_megamenu__close-icon.ct-section .ct-section-inner-wrap{
display:flex;
}
}

.oxel_section_indicator {
 position:fixed;
 right:0px;
 top:0px;
 width:30px;
 z-index:10;
 padding-left:8px;
 padding-right:32px;
 bottom:7em;
}
.oxel_section_indicator:not(.ct-section):not(.oxy-easy-posts),
.oxel_section_indicator.oxy-easy-posts .oxy-posts,
.oxel_section_indicator.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
justify-content:flex-end;
}
.oxel_section_indicator__dot {
 width:16px;
 height:16px;
 border-radius:50%;
 margin-top:12px;
 margin-bottom:12px;
 color:#f9f9fa;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
 border-top-width:2px;
 border-right-width:2px;
 border-bottom-width:2px;
 border-left-width:2px;
 border-top-color:#eceeef;
 border-right-color:#eceeef;
 border-bottom-color:#eceeef;
 border-left-color:#eceeef;
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
min-height: 0px !important; min-width: 0px !important;
}
.oxel_section_indicator__dot:not(.ct-section):not(.oxy-easy-posts),
.oxel_section_indicator__dot.oxy-easy-posts .oxy-posts,
.oxel_section_indicator__dot.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
justify-content:center;
}
.oxel_section_indicator__label:after{
transform:rotate(45deg); position:absolute;
 width:16px;
 height:16px;
 right:-6px;
 z-index:-1;
 border-top-right-radius:4px;
 border-top-left-radius:0px;
 border-bottom-left-radius:0px;
 border-bottom-right-radius:0px;
 border-radius:0px;
  content:"";
}
.oxel_section_indicator__label {
 position:absolute;
 padding-top:4px;
 padding-bottom:4px;
 padding-left:16px;
 padding-right:16px;
 border-radius:0px;
 transition-duration:0.3s;
 transition-timing-function:ease-in-out;
 right:calc(100% + 8px) ;
 margin-right:0px;
}
.oxel_section_indicator__label:not(.ct-section):not(.oxy-easy-posts),
.oxel_section_indicator__label.oxy-easy-posts .oxy-posts,
.oxel_section_indicator__label.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
justify-content:center;
}
.oxel_section_indicator__label__text {
 font-family:'Bandeins Sans';
 font-weight:600;
 font-size:1.25em;
 color:#0ceeb7;
}
.oxel_section_indicator__label--hidden {
transform:translate(112px); opacity:0;
}
.gradient-text {
 z-index:5;
}
.gradient-icon {
border: 1px solid;
padding: 25px;color: #cfd3d7;}.gradient-icon 
>svg {width: 50px;height: 50px;}.gradient-icon {
 selector-locked:false;
 padding-top:25px;
 padding-left:25px;
 padding-right:25px;
 padding-bottom:25px;
 icon-padding:25px;
}
.gradient-text-2:hover{
}
.gradient-text-2 {
 margin-top:0px;
}
@media (max-width: 767px) {
.gradient-text-2 {
 margin-bottom:33px;
 margin-top:37px;
}
.gradient-text-2 .ct-section-inner-wrap {
padding-top: 50em;
padding-bottom: 50em;
}
}

@media (max-width: 479px) {
.gradient-text-2 {
 margin-bottom:0px;
}
.gradient-text-2 .ct-section-inner-wrap {
padding-top: 50em;
padding-bottom: 50em;
}
.gradient-text-2:not(.ct-section):not(.oxy-easy-posts),
.gradient-text-2.oxy-easy-posts .oxy-posts,
.gradient-text-2.ct-section .ct-section-inner-wrap{
display:flex;
flex-wrap:wrap;
align-content:center;
justify-content:flex-start;
}
}

.svg_divider {
 padding-bottom:0px;
}
.svg_divider .oxy_shape_divider{
color:rgba(0,0,0,0);
}

.gradient-button:hover{
background-image: linear-gradient(125deg, #3452ff, #3452ff);transform:translateY(-5px); aos-enable:false;
}
.gradient-button {
background-image: linear-gradient(135deg, #ff1053, #3452ff); font-family:'Bandeins Sans';
 border-radius:200px;
 padding-left:50px;
 padding-right:50px;
 min-width:250px;
 padding-top:15px;
 padding-bottom:15px;
 font-size:18px;
 z-index:5;
 position:relative;
 aos-enable:false;
 text-transform:capitalize;
 text-align:justify;
 margin-bottom:0px;
 margin-top:2vw;
}
.gradient-button:not(.ct-section):not(.oxy-easy-posts),
.gradient-button.oxy-easy-posts .oxy-posts,
.gradient-button.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
justify-content:space-between;
}
@media (max-width: 767px) {
.gradient-button {
 margin-top:35px;
}
}

@media (max-width: 479px) {
}

.tracing {
 position:relative;
}
.hotspots {
 position:relative;
}
.hotspots__marker {
 width:20px;
 height:20px;
 background-color:#ffffff;
 border-top-color:#0ceeb7;
 border-right-color:#0ceeb7;
 border-bottom-color:#0ceeb7;
 border-left-color:#0ceeb7;
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-width:2px;
 border-right-width:2px;
 border-bottom-width:2px;
 border-left-width:2px;
 border-radius:100%;
 position:absolute;
min-width: 0px !important; min-height: 0px !important;
}
.hotspots__marker:not(.ct-section):not(.oxy-easy-posts),
.hotspots__marker.oxy-easy-posts .oxy-posts,
.hotspots__marker.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
}
.atomic-link-5-1 {
}
.atomic-footer-5-1 {
}
.underline-from-left {
}
.social-icons:hover{
color: #e22d8b;}.social-icons:hover{
transform:translateY(-5px);}
.social-icons {
color: #000000;}.social-icons 
>svg {width: 20px;height: 20px;}.social-icons {
 padding-left:5px;
 padding-top:5px;
 padding-right:5px;
 padding-bottom:5px;
 margin-right:0px;
}
.social-icons-white:hover{
color: #e22d8b;}.social-icons-white:hover{
transform:translateY(-5px);}
.social-icons-white {
color: #ffffff;}.social-icons-white 
>svg {width: 20px;height: 20px;}.social-icons-white {
 padding-left:5px;
 padding-top:5px;
 padding-right:5px;
 padding-bottom:5px;
 margin-right:0px;
}
.promenu:hover{
 oxy-pro-menu_slug_oxypromenulistmenuitemmenuitemmenuitemmenuitemacolor:#ff0000;
 oxy-pro-menu_slug_oxypromenucontainernotoxypromenuopencontainernotoxypromenuoffcanvascontainersubmenumenuitemabackground_color:#eeeeee;
 oxy-pro-menu_slug_oxypromenumobileopeniconbackground_color:#dedede;
 oxy-pro-menu_slug_oxypromenumobilecloseiconbackground_color:#dedede;
}
.promenu {
 oxy-pro-menu_slug_oxypromenushowdropdownoxypromenulistmenuitemhaschildrenasvg_margin_left:4;
 oxy-pro-menu_slug_oxypromenulistmenuitema_transition_duration:0.2;
 menu_dropdown_animation:zoom-in-down;
 border-radius:8px;
 background-color:#eee;
}
.promenu .oxy-pro-menu-list .menu-item, .promenu .oxy-pro-menu-list .menu-item a{
font-family: 'Bandeins Sans';
color: #000000;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 600;
font-size: 14px;
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-list .menu-item a{
padding-right:12px;
padding-top:4px;
padding-left:12px;
padding-bottom:4px;
}

.promenu .oxy-pro-menu-list > .menu-item{
margin-top:0px;
margin-left:0px;
margin-bottom:0px;
margin-right:0px;
}

.promenu .oxy-pro-menu-list .menu-item.menu-item.menu-item.menu-item a:hover{
color:#ff0000;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:0px 12px 20px rgba(0,0,0,0.12);}

.promenu .sub-menu{
border-radius:8px;
}

.promenu .sub-menu > li:last-child > a{
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}

.promenu .sub-menu > li:first-child > a{
border-top-left-radius:8px;
border-top-right-radius:8px;
}

.promenu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
color:#000000;
font-size:8px;
margin-left:4px;
transform:rotate(0deg);
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children:hover > a svg{
transform:rotate(180deg);
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
background-color:#ffffff;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a:hover{
background-color:#eeeeee;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item, .promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
font-size: 12px;
}

.promenu .oxy-pro-menu-mobile-open-icon svg{
width:32px;
height:32px;
margin-right:8px;
color:#000000;
}

.promenu .oxy-pro-menu-mobile-open-icon{
padding-top:16px;
padding-right:16px;
padding-bottom:16px;
padding-left:16px;
background-color:#eeeeee;
border-radius:8px;
font-family: 'Bandeins Sans';
color: #000000;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 500;
}

.promenu .oxy-pro-menu-mobile-open-icon:hover{
background-color:#dedede;
}

.promenu .oxy-pro-menu-mobile-open-icon, .promenu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-mobile-close-icon{
padding-top:16px;
padding-right:16px;
padding-bottom:16px;
padding-left:16px;
background-color:#eeeeee;
border-radius:8px;
font-family: 'Bandeins Sans';
text-transform: uppercase;
letter-spacing: 2px;
color: #000000;
font-weight: 500;
}

.promenu .oxy-pro-menu-mobile-close-icon svg{
width:32px;
height:32px;
margin-right:8px;
color:#000000;
}

.promenu .oxy-pro-menu-mobile-close-icon:hover{
background-color:#dedede;
}

.promenu .oxy-pro-menu-mobile-close-icon, .promenu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item, .promenu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .promenu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item, .promenu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
font-family: 'Bandeins Sans';
text-align: left;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.promenu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.promenu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .promenu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: center;
                    justify-content: center;
                }

            .gradienticon {
}
.gradientico {
}
.h2 {
}
.h1 {
 color:#ffffff;
 font-weight:500;
}
@media (max-width: 479px) {
.h1 {
}
}

.h3 {
 margin-bottom:2vw;
}
.c2clipboard {
}
.c2clipboard-banner {
}
.c2clipboard-banner:not(.ct-section):not(.oxy-easy-posts),
.c2clipboard-banner.oxy-easy-posts .oxy-posts,
.c2clipboard-banner.ct-section .ct-section-inner-wrap{
display:none;
}
.horizontal_divider_white {
 width:100%;
 height:2px;
 background-color:#ffffff;
}
.horizontal_divider_white:not(.ct-section):not(.oxy-easy-posts),
.horizontal_divider_white.oxy-easy-posts .oxy-posts,
.horizontal_divider_white.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
}
.sub-heading-pp:ct_depth{
}
.sub-heading-pp {
 margin-top:2em;
 margin-bottom:2em;
 margin-left:2em;
 margin-right:2em;
 font-size:18px;
}
.gradient-text {
     background: linear-gradient(to bottom right,#FF1053,#3452FF);
     opacity: 0.9;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

.gradient-text-2 {
     background: linear-gradient(to bottom right,#0ceeb7,#6dcef5);
     opacity: 0.9;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

.oxel_horizontal_divider__line {
flex-grow: 1;
	background: linear-gradient(to bottom right, #FF1053, #3452FF); height: 3px; }
}

.oxel_horizontal_divider {
flex-grow: 1;
	background: linear-gradient(to bottom right, #FF1053, #3452FF); height: 3px; }
}


@font-face {
	font-family:"Bandeins Sans";
	font-weight:300;
	font-style:normal;
	src:url("https://late-recipe-9912.on.fleek.co/wp-content/uploads/fonts/Bandeins-Sans-Light.woff") 
		format("woff"),
		url("https://late-recipe-9912.on.fleek.co/wp-content/uploads/fonts/Bandeins-Sans-Light.otf") 
		format("opentype");
	font-display: block;
}

@font-face {
	font-family:"Bandeins Sans";
	font-weight:400;
	font-style:normal;
	src:url("https://late-recipe-9912.on.fleek.co/wp-content/uploads/fonts/Bandeins-Sans-Regular.woff") 
		format("woff"),
		url("https://late-recipe-9912.on.fleek.co/wp-content/uploads/fonts/Bandeins-Sans-Regular.otf") 
		format("opentype");
	font-display: block;
}

@font-face {
	font-family:"Bandeins Sans";
	font-weight:600;
	font-style:normal;
	src:url("../../fonts/Bandeins-Sans-SemiBold.woff") 
		format("woff"),
		
		url("../../fonts/Bandeins-Sans-SemiBold.otf") 
		format("opentype");
		
	font-display: block;
}

@font-face {
	font-family:"Bandeins Sans";
	font-weight:700;
	font-style:normal;
	src:url("../../fonts/Bandeins-Sans-Bold.woff") 
		format("woff"),
		
		url("../../fonts/Bandeins-Sans-Bold.otf") 
		format("opentype")
		;
	font-display: block;




/*
.gradient-border{ 
  
   border: solid 2px transparent;
  
  /* first gradient is for card background, second for border background */ 

/*
  background-image: linear-gradient(#161616,#161616), linear-gradient(to bottom right, #FF1053, #3452FF);
  background-clip: padding-box, border-box;
  background-origin: border-box;
}
*/


/* smoothing all fonts used*/
*{
	font-smooth: always;
	-webkit-font-smoothing:  antialiased;
}
@media (min-width:1025px){

.svg_divider::before{
content:'';
position: absolute;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
transform:scaleX(2.1);
transform-origin: 100% 100%;
animation: 7s infinite alternate shape-anim-329 linear;
background-size: 100% 110px;
background-position: 50% 100%;
background-repeat: no-repeat;     
z-index: 3;
pointer-events: none;
background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23161616"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23161616"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23161616"/></svg>'); 
}
@media (min-width:2100px){
.svg_divider::before{
background-size: 120% calc(2vw + 110px);
}
}
@keyframes shape-anim-329 {
  100% {
    transform: scaleX(2.1) translateX(calc(100% - (100% / 2.1)));
  }
}




 }
[tooltip]::before {
	content: attr(tooltip);
	pointer-events: none;
	position: absolute;
	width: 200px;
	top: calc(100% + 8px);
	left: -100px;
	background-color: #161616;
	padding: 8px;
	border-radius: 3px;
	color: white;
	z-index: 10;
	opacity: 0;
}

[tooltip]::after {
	content: "";
	background-color: #ed0cc1;
	position: absolute;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 3px solid #0ceeb7;
	animation-name: pulse;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	
}

[tooltip]:hover::before, 
[tooltip]:focus::before {
	opacity: 1;
	animation-name: flip;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

@keyframes flip {
	from {
		transform: scaleY(0);
		opcacty: 0;
	}
	to {
		transform: scaleY(1);
		opacity: (1)
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 50%;
		transform: scale(0.5);
	}
	100%{
		opacity:0;
		transform: scale(1);
	}
}